<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.boom.bbs.BbsItemMapper">

	<resultMap type="com.study.boom.bbs.BbsItem" id="bbsItemResult">
		<result property="id" column="ID"/>
		<result property="title" column="TITLE"/>
		<result property="content" column="CONTENT"/>
		<result property="author" column="AUTHOR"/>
		<result property="pw" column="PW"/>
		<result property="writeDate" column="WRITE_DATE"/>
		<result property="delYn" column="DEL_YN"/>
		<result property="hit" column="HIT"/>
	</resultMap>
	
	<select id="findItems" parameterType="com.study.boom.bbs.BbsItem" resultMap="bbsItemResult">
	<![CDATA[
		SELECT * FROM BOARD
	]]>	
	</select>
	
	<select id="findItem" parameterType="com.study.boom.bbs.BbsItem" resultMap="bbsItemResult">
	<![CDATA[
		SELECT * FROM BOARD
		WHERE ID = #{id}
	]]>
	</select>
	<insert id="writeItem" parameterType="com.study.boom.bbs.BbsItem">
	<![CDATA[
		INSERT INTO BOARD VALUES(
		#{id},
		#{title},
		#{content},
		#{author},
		#{pw},
		#{writeDate},
		#{delYn},
		#{hit}
		)
	]]>
	</insert>
	<delete id="deleteItem" parameterType="com.study.boom.bbs.BbsItem">
	<![CDATA[
		DELETE FROM BOARD WHERE ID = #{id} AND PW = #{pw}
	]]>
	</delete>
	<update id="updateItem" parameterType="com.study.boom.bbs.BbsItem">
	<![CDATA[
		UPDATE BOARD 
		SET 
		TITLE = #{title}, 
		CONTENT = #{content},
		AUTHOR = #{author}, 
		WRITE_DATE = #{writeDate}, 
		DEL_YN = #{delYn}
		WHERE 
		ID = #{id} AND PW = #{pw}
	]]>
	</update>
	<update id="addHit" parameterType="String">
	<![CDATA[
		UPDATE BOARD 
		SET 
		HIT = (SELECT HIT FROM BOARD WHERE = #{id})
		WHERE 
		ID = #{id}
	]]>
	</update>
</mapper>