<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8" %>
<script id="bbsList" type="text/x-jquery-tmpl">
<table>
	<thead>
	<colgroup>
   		<col width="40" />
      	<col />
      	<col width="70" />
	</colgroup>
	</thead>
	<tbody>
		<th>번호</th>
		<th>제목</th>
		<th>작성자</th>
		{%each(index, item) result %}
		<tr>
			<td>{%= item.id + 1 %}</td>
			<td><a href="javascript:void(0);" class="title" id="{%= item.id %}">{%= item.title %}</a></td>
			<td>{%= item.author %}</td>
		</tr>
		{%/each%}
	</tbody>
</table>
</script>